<a href="https://colab.research.google.com/github/fridaruh/ML_and_IA_for_Finance/blob/master/indian_food.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Carga de librerías

Usaremos la librería de pandas y numpy

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('content/drive/VD/indian_food.csv')

In [ ]:
df.shape

(255, 9)

In [ ]:
df.head()

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East

[5 rows x 9 columns]

In [ ]:
df.tail()

          name  ...      region
250  Til Pitha  ...  North East
251    Bebinca  ...        West
252     Shufta  ...       North
253  Mawa Bati  ...     Central
254     Pinaca  ...        West

[5 rows x 9 columns]

In [ ]:
df.sample(10)

               name  ...      region
11            Lassi  ...       North
120     Shahi tukra  ...       South
52      Sheer korma  ...       South
227  Bengena Pitika  ...  North East
25         Ledikeni  ...        East
160         Theeyal  ...       South
134  Keerai masiyal  ...       South
180        Dalithoy  ...        West
148      Paravannam  ...       South
30           Pantua  ...        East

[10 rows x 9 columns]

In [ ]:
df.describe(include='all')

          name              ingredients  ...    state  region
count      255                      255  ...      255     254
unique     255                      252  ...       25       7
top     Payokh  Gram flour, ghee, sugar  ...  Gujarat    West
freq         1                        2  ...       35      74
mean       NaN                      NaN  ...      NaN     NaN
std        NaN                      NaN  ...      NaN     NaN
min        NaN                      NaN  ...      NaN     NaN
25%        NaN                      NaN  ...      NaN     NaN
50%        NaN                      NaN  ...      NaN     NaN
75%        NaN                      NaN  ...      NaN     NaN
max        NaN                      NaN  ...      NaN     NaN

[11 rows x 9 columns]

In [ ]:
df.head(2)

         name                      ingredients  ...        state  region
0  Balu shahi  Maida flour, yogurt, oil, sugar  ...  West Bengal    East
1      Boondi          Gram flour, ghee, sugar  ...    Rajasthan    West

[2 rows x 9 columns]

In [ ]:
df['cook_time'].describe()

count    255.000000
mean      34.529412
std       48.265650
min       -1.000000
25%       20.000000
50%       30.000000
75%       40.000000
max      720.000000
Name: cook_time, dtype: float64

In [ ]:
df['flavor_profile'].unique()

array(['sweet', 'spicy', 'bitter', '-1', 'sour'], dtype=object)

In [ ]:
df['flavor_profile'].nunique()

5

In [ ]:
df['flavor_profile'].value_counts()

spicy     133
sweet      88
-1         29
bitter      4
sour        1
Name: flavor_profile, dtype: int64

In [ ]:
df['unos'] = '1'

In [ ]:
df.sample(3)

                   name  ... unos
48             Poornalu  ...    1
121  Vegetable jalfrezi  ...    1
204          Sev tameta  ...    1

[3 rows x 10 columns]

In [ ]:
df.rename(columns={'diet':'veggie_or_not'}, inplace= True)

In [ ]:
type(df['unos'][0])

str

In [ ]:
df.head()

             name  ... unos
0      Balu shahi  ...    1
1          Boondi  ...    1
2  Gajar ka halwa  ...    1
3          Ghevar  ...    1
4     Gulab jamun  ...    1

[5 rows x 10 columns]

In [ ]:
df['tiempo_total'] = df['prep_time'] + df['cook_time'] + 5

In [ ]:
df.head()

             name  ... tiempo_total
0      Balu shahi  ...           75
1          Boondi  ...          115
2  Gajar ka halwa  ...           80
3          Ghevar  ...           50
4     Gulab jamun  ...           60

[5 rows x 11 columns]

In [ ]:
df['valor'] = 'no'

In [ ]:
df.head()

             name  ... valor
0      Balu shahi  ...    no
1          Boondi  ...    no
2  Gajar ka halwa  ...    no
3          Ghevar  ...    no
4     Gulab jamun  ...    no

[5 rows x 12 columns]

In [ ]:
df = df.drop(['valor'], axis=1)

In [ ]:
df.head()

             name  ... tiempo_total
0      Balu shahi  ...           75
1          Boondi  ...          115
2  Gajar ka halwa  ...           80
3          Ghevar  ...           50
4     Gulab jamun  ...           60

[5 rows x 11 columns]

In [ ]:
df2 = df.copy(deep=True)

In [ ]:
df2.head()

             name  ... tiempo_total
0      Balu shahi  ...           75
1          Boondi  ...          115
2  Gajar ka halwa  ...           80
3          Ghevar  ...           50
4     Gulab jamun  ...           60

[5 rows x 11 columns]

In [ ]:
df2['prueba'] = 'esto es una prueba'

In [ ]:
df2.head()

             name  ...              prueba
0      Balu shahi  ...  esto es una prueba
1          Boondi  ...  esto es una prueba
2  Gajar ka halwa  ...  esto es una prueba
3          Ghevar  ...  esto es una prueba
4     Gulab jamun  ...  esto es una prueba

[5 rows x 12 columns]

# Cómo exportar a Excel o CSV

Guarda más de un **objeto/tabla** en excel

In [ ]:
with pd.ExcelWriter('output.xlsx') as writer:  #Esta es una función
  df.to_excel(writer, sheet_name='Sheet_name_1') #Tener cuidado con los "tabs" o "sangrías"
  df2.to_excel(writer, sheet_name='Sheet_name_2') #Sheetname hace referencia a el nombre de la hoja de excel

Exporta/ Guarda una tabla en un archivo csv

In [ ]:
df.to_csv('salida1.csv')

In [ ]:
df.to_excel('salida2.xlsx')